
.portfolio__{
    display: flex;
    flex-direction: row-reverse;
}


.header_stats{
    border: 5px solid white;
    padding: 2rem;
    border-radius: 15px;
    width: 40%;
    margin: auto;
    background-color: #051320;
    }


.header_stats ul {
    color: white;
    text-align: center;
    list-style: none;
    background-color: #051320;

}

.header_stats li {
    text-decoration: none;
    text-align: left;
    background-color: #051320;
    margin-top: 1rem;
    font-size: 2rem;
}

.header_stats .meta {
    background-color: #051320;
    color: gray;
}




.header_stats .data{
    float: right;   
    background-color: #051320;

}

.header_stats .btn{
    width: 75%;
    margin-left: 12.8%;
}

.header_stats .reset_btn{
    background-color: #051320;
    justify-content: center;
}


.stocks__{
    border: 5px solid white;
    border-radius: 15px;
    width: 50%;
    margin: auto;

}