:root{
    --purchase-bg:#051320;
    --meta_info-bg: #051320;
}


.stock__elements{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    margin: 0rem auto;
    position: relative;
}

.purchase__container{
    border: 5px solid #6F767D;
    background-color: var(--purchase-bg);
    width: 45%;
    border-radius: 10px;
    float: right;
}

.purchase__container form {
    background-color: var(--purchase-bg);
}

.stock__graph{
    border: 5px solid #6F767D;
    border-radius: 15px;
    margin: 1rem;
    background-color: var(--meta_info-bg);

}

.meta_info{
    border: 5px solid #6F767D;
    border-radius: 15px;
    padding: 1rem;
    width: 50%;
    height: 41rem;
    float: left;
}

.stock__table2{
    margin-top: 2rem;
}

.stock__table2 td, th{
    background-color: var(--meta_info-bg);
}

.all_stock__info{
    justify-content: space-evenly;
    width: 500%;
    padding: 1rem;
    margin: 1rem;
}


