.stock__elements{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border: 3px solid red;
    justify-content: space-evenly;
    margin: 0rem auto;
    position: relative;
}

.purchase__container{
    border: 5px solid blue;
    width: 45%;
    /* height: 36.5rem; */
    border-radius: 10px;
    float: right;
}

.stock__graph{
    border: 3px solid white;
    margin: 1rem;
}

.meta_info{
    border: 3px solid purple;
    width: 50%;
    height: 41rem;
    float: left;
}

.stock__table2{
    margin-top: 5rem;
}

.all_stock__info{
    
    justify-content: space-evenly;
    border: 3px solid green;
    width: 500%;
    padding: 1rem;
    margin: 1rem;
}


