.auth__container{
    border: 3px solid white;
    border-radius: 10px;
    float: center;
    width: 35%;
    /* height: 30rem; */
    margin: 10rem auto;
    padding: 2rem;
    color: white;
}


.auth__container h2{
    text-align: center;

}

.switch a {
    text-decoration: none;
    background-color: transparent;
    color: blue;
    margin-left: 0;
}

.switch{
    margin: 2rem auto;
    text-align: center;
}
.switch h3 a {
    font-size: 1.5rem;
    
}