.stock__card{
    border: 5px solid white;
    border-radius: 15px;
    padding: 2rem;
    margin: 2rem auto;
    justify-content: center;
    width: 75%;
    font-size: 1.3rem;
    background-color: #051320;
}

.stock__card ul {
    color: white;
    text-align: center;
    list-style: none;
}

.stock__card li {
    text-decoration: none;
    text-align: right;
    background-color: #051320;
}

.stock__card .data{
    background-color: #051320;
}

.stock__card .meta{
    color: grey;
    float: left;
    background-color: #051320;
}


