.stock__card{
    border: 5px solid white;
    border-radius: 15px;
    padding: 2rem;
    margin: 2rem auto;
    justify-content: center;
    width: 45%;
    font-size: 1.3rem;
}

.stock__card ul {
    color: white;
    text-align: center;
    list-style: none;
}

.stock__card li {
    text-decoration: none;
}

