
.btn{
    margin-left: 13%;
    margin-top: 5%;
    padding: 3%;
    width: 75%;


}

#trans_buttons{
    padding: 5%;
    margin-top: 3%;
    margin-left: 5%;
    display: flex;
    color: white;
    width: 90%;
    font-size: 125%;
}
#trans_buttons h3 {
    font-size: 125%;
    margin-top: 5%;
} 



#butts {
    margin-left: 60%;
    font-size: 100%;

}
.purchase{
    color: white;
    font-size: 100%
}
.purchase input{
    width: 90%;
    margin: auto;
    font-size: 125%;
}
.purchase label{
    font-size: 125%;
    margin-left: 35%;
}

.select{
    width: 90%;
    margin: auto;
    margin-top: 5%;
}
.select h3 {
    font-size: 125%;
    text-align: center;
}


