
.purchase__container1{
    display: block;
    margin-left: 2.2rem;
    margin-top: 0rem;
}
button{
    width: 90%;
    height: 4rem;
    background-color: white;
    margin: 1rem auto;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    transition-duration: 0.3s;
}

button:hover{
    background-color: gray;
    color: white;
}

.enter__shares input[type="text"]{
    margin: 1rem auto;
    width: 90%;
    height: 4rem;
    background-color: #fff;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;

}

