.nav_bar{
    display: flex;
    margin: 1rem;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    border: 1px solid #fff;
    background-color:#212F3C;
    border-radius: 5px;
}
.nav_bar h1 {
    color: #fff;
    background-color: transparent;
    font-size: 3rem;
}
.nav__links{
    list-style-type: none;
    display: flex;
    background-color: #212F3C;
}

.logo{
    width: 7rem;
    cursor: pointer;
}


li, a{
    font-weight: 600;
    font-size: 1.6rem;
    color: white;
    text-decoration: none;
    background-color: #212F3C;
    margin:2rem;
    padding:5px;
    border-radius: 10px;
}

a:hover{
    color: grey;
    background-color:white;
}

