.nav_bar{
   display: flex;
   margin-bottom: 5rem;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    border: 1px solid #fff;
    background-color:#212F3C;
}
.nav__links{
    list-style-type: none;
}

.logo{
    width: 7rem;
    cursor: pointer;
}


li, a{
    font-weight: 600;
    font-size: 1.6rem;
    color: white;
    text-decoration: none;
    background-color: #212F3C;
}

