/* *{
    box-sizing: border-box;

}
.search__stock{
    width: 500px;
}


input[type=text]{
    background-color: #fff;
    border-radius: 5px;
    border: 5px solid black;
    width: 100%;
    margin: 1rem;
    padding: 2rem;
} */